.select{
    outline:none;
    border:none;  
    border-radius: 20px 20px 20px 20px;
    width: 12rem;
    height: 2rem;
    border: 1px solid black;
    background: #e2f2ff;
    margin-right: 5rem;
    font-weight: bold;
    font-family: 'Lucida Sans';
    color: #1341ab;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
    grid-auto-rows: minmax(200px, auto);
    margin-top: 6rem;
    margin-left: 12rem;
    color:#0019FF;
    width: 50%;
    text-align: center;
    font-weight: bold;
    cursor: default;
    
  }

  .one {
    grid-row: 1;
    background-color: #FFFFFF;
    width:8rem;
    border: 1px solid #0019FF;
    border-radius: 20px 20px 20px 20px;
  }

  .two {
    grid-row: 1;
    background:linear-gradient(35deg, #f0c2c2, #FFFFFF);
    width:8rem;
    border: 1px solid #0019FF;
    padding-top: 4.2rem;
    border-radius: 20px 20px 20px 20px;
  }

  .three {
    grid-row: 1;
    background:linear-gradient(35deg, #c2d4f0, #FFFFFF);
    width:8rem;
    border: 1px solid #0019FF;
    padding-top: 4.2rem;
    border-radius: 20px 20px 20px 20px;
  }

  .four {
    grid-row: 1;
    background-color: #FFFFFF;
    width:8rem;
    border: 1px solid #0019FF;
    border-radius: 20px 20px 20px 20px;
  }

  .five {
    grid-row: 1;
    background-color: #FFFFFF;
    width:8rem;
    border: 1px solid #0019FF;
    border-radius: 20px 20px 20px 20px;
  }

  .six {
    grid-row: 1;
    background-color: #FFFFFF;
    width:8rem;
    border: 1px solid #0019FF;
    border-radius: 20px 20px 20px 20px;
  }

  p{
    font-family: 'Lucida Sans';
    font-size: 18px;
    font-weight: bold;
  }

  img{
    margin-top:2.5rem;
    width: 24px;
    height: 24px;
  }

  .weatherinterface__message{
    text-align: center;
    color: #f8fbff;
    padding: 0;
  }